Flask==3.0.3
pywasm==1.2.2
httpx[http2]==0.27.2
tqdm==4.66.5
gunicorn==20.1.0
Flask-Cors==4.0.0
git+https://github.com/basic-bgnr/NepseUnofficialApi.git
pandas
psycopg2-binary==2.9.9
requests==2.31.0
certifi==2024.2.2
